.trang-chu {
  background: url("../assets/imgs/Sprites.64af8f61.svg") no-repeat -294px -1632px;
  width: 18px;
  height: 17px;
}
.nhan-vien {
  background: url("../assets/imgs/Sprites.64af8f61.svg") no-repeat -120px -1664px;
  width: 17px;
  height: 17px;
}
.tien-mat {
  background: url("../assets/imgs/Sprites.64af8f61.svg") no-repeat -78px -1631px;
  width: 14px;
  height: 18px;
}
.tien-gui {
  background: url("../assets/imgs/Sprites.64af8f61.svg") no-repeat -121px -1633px;
  width: 16px;
  height: 16px;
}
.mua-hang {
  background: url("../assets/imgs/Sprites.64af8f61.svg") no-repeat -165px -1632px;
  width: 16px;
  height: 18px;
}
.ban-hang {
  background: url("../assets/imgs/Sprites.64af8f61.svg") no-repeat -206px -1631px;
  width: 20px;
  height: 14px;
}
.ql-hoa-don {
  background: url("../assets/imgs/Sprites.64af8f61.svg") no-repeat -254px -1632px;
  width: 14px;
  height: 17px;
}
.kho {
  background: url("../assets/imgs/Sprites.64af8f61.svg") no-repeat -294px -1632px;
  width: 18px;
  height: 17px;
}
.cong-cu-dung-cu {
  background: url("../assets/imgs/Sprites.64af8f61.svg") no-repeat -339px -1633px;
  width: 18px;
  height: 17px;
}
.tai-san-co-dinh {
  background: url("../assets/imgs/Sprites.64af8f61.svg") no-repeat -382px -1632px;
  width: 17px;
  height: 18px;
}
.tien-luong {
  background: url("../assets/imgs/Sprites.64af8f61.svg") no-repeat -296px -1662px;
  width: 14px;
  height: 18px;
}
.thue {
  background: url("../assets/imgs/Sprites.64af8f61.svg") no-repeat -427px -1634px;
  width: 16px;
  height: 16px;
}
.gia-thanh {
  background: url("../assets/imgs/Sprites.64af8f61.svg") no-repeat -471px -1633px;
  width: 17px;
  height: 17px;
}
.tong-hop {
  background: url("../assets/imgs/Sprites.64af8f61.svg") no-repeat -514px -1632px;
  width: 16px;
  height: 18px;
}
.ngan-sach {
  background: url("../assets/imgs/Sprites.64af8f61.svg") no-repeat -382px -1664px;
  width: 16px;
  height: 16px;
}

.bao-cao {
  background: url("../assets/imgs/Sprites.64af8f61.svg") no-repeat -552px -1636px;
  width: 14px;
  height: 13px;
}

.phan-tich-tai-chinh {
  background: url("../assets/imgs/Sprites.64af8f61.svg") no-repeat -207px -1667px;
  width: 17px;
  height: 14px;
}
