@import "./table.css";
@font-face {
  font-family: M-roboto;
  src: url("../assets/fonts/Roboto-Regular.ttf");
}
.hidden {
  display: none;
}
.container-content-header {
  height: 68px;
  width: 100%;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-content-header .heading h2 {
  font-size: 24px;
  color: #1f1f20;
  font-weight: 700;
}
.heading {
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;
}
.icon-open-list {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.list-filter {
  position: absolute;
  top: 35px;
  right: 0;
  width: 198px;
  height: 211px;
  background-color: #fff;
  border-radius: 4px;
  padding: 8px 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  z-index: 100;
}
.list-filter li {
  list-style: none;
  width: 100%;
  height: 48px;
  padding-left: 20px;
  font-size: 14px;
  color: #212121;
  line-height: 48px;
  cursor: pointer;
}
.list-filter li:hover {
  background-color: #f4fff2;
  color: #50b83c;
}

.header-action {
  display: flex;
  align-items: center;
  gap: 16px;
}
.combo-button {
  height: 36px;
  display: flex;
  align-items: center;
  background-color: #50b83c;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 0 16px 0 12px;
  cursor: pointer;
}
.combo-button:hover {
  background-color: #76c267;
}
.cb-btn-icon {
  fill: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 4px;
}
.cb-btn-text {
  font-size: 14px;
  font-weight: 500;
}
.reload {
  /* width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 4px;*/
  cursor: pointer;
  background: url("@/assets/imgs/Sprites.64af8f61.svg") no-repeat -425px -201px;
  width: 21px;
  height: 23px;
}

.export-excel {
  background: url("@/assets/imgs/Sprites.64af8f61.svg") no-repeat -705px -202px;
  width: 23px;
  height: 20px;
  cursor: pointer;
}

/*  */

.container-content-body {
  padding: 0 24px 14px 24px;
  background-color: #eeeff1;
  height: calc(100% - 68px);
}
.container-table-data {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  overflow: hidden;
}

.container-table-data_header {
  width: 100%;
  height: 60px;
  background-color: #fff;
  /* background-color: #50b83c; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 16px;
}

.input-group {
  position: relative;
  width: 280px;
  height: 36px;
}
.input {
  width: 100%;
  height: 100%;
  padding: 0px 8px 0 36px;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
}
input::placeholder {
  color: #999999;
  font-size: 14px;
  font-style: italic;
}

input:focus {
  border: 1px solid #50b83c;
  outline: none;
}

/* action search */
.action {
  position: absolute;
  top: 50%;
  width: 16px;
  transform: translateY(-50%);
  left: 8px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666666;
}
.action-icon {
  background: url("@/assets/imgs/Sprites.64af8f61.svg") no-repeat -992px -360px;
  width: 16px;
  height: 16px;
}

/* right header table (select + filter + setting column)  */
.group-table-header-right {
  display: flex;
  gap: 16px;
  align-items: center;
}

.combo-box-container {
  width: 260px;
  height: 36px;
  position: relative;
}
.combo-box-heading {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  color: #1f1f1f;
  font-weight: 500;
  font-family: M-roboto;
}
.combo-box-container input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 36px;
  padding: 0 12px;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
}
.combo-box-container input::placeholder {
  color: #999999;
  font-size: 14px;
}
.combo-box-container input:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}
.combo-box-container input:focus {
  border: 1px solid #50b83c;
  outline: none;
}
.show-option {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
  width: 24px;
  height: 24px;
}
.show-option {
  display: flex;
  justify-content: center;
  align-items: center;
}
.parent-option {
  position: absolute;
  top: 63px;
  left: 0;
  width: 100%;
  /* max-height: 308px; */
  padding-right: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.parent-option.hidden {
  display: none;
}
.option {
  max-height: 308px;

  border-radius: 4px;
  overflow-x: hidden;
  overflow-y: auto;

  padding: 8px 0 8px 12px;
}
.option-item.disable {
  display: flex;
  justify-content: space-between;
  color: #50b83c;
  /* padding-right: 12px; */
}
.option-item.disable span {
  color: #50b83c;
}

.option-item {
  width: 100%;
  height: 36px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.option-item span {
  font-size: 14px;
  font-family: M-roboto;
  font-weight: 400;
  margin-left: 12px;
}
.check {
  margin-left: 0;
}
.option-item:hover {
  background-color: rgba(80, 184, 60, 0.1);
}

/* scroll bar */
.option::-webkit-scrollbar {
  width: 8px;
  height: 72px;
}
.option::-webkit-scrollbar-thumb {
  background-color: #9e9e9e;
  border-radius: 4px;

  width: 16px;
}
.option::-webkit-scrollbar-track {
  background-color: transparent;
}

/* filter */
.filter,
.setting-column {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  cursor: pointer;
}
.setting-column {
  border: 1px solid #50b83c;
}
.filter span {
  background: url("../assets/imgs/Sprites.64af8f61.svg") no-repeat -1602px -91px;
  width: 20px;
  height: 22px;
}
.setting-column span {
  background: url("../assets/imgs/Sprites.64af8f61.svg") no-repeat -650px -201px;
  width: 20px;
  height: 22px;
}

/* container-table-data_body */

.container-table-data_body {
  /* background-color: #50b83c; */
  width: 100%;
  /* height: calc(100% - 60px); */
  height: calc(100% - 116px);

  overflow: auto;
  border-right: 1px solid #fff;
}

/* Panigation  */

.panigation {
  position: sticky;
  bottom: -1px;
  left: 0;
  padding: 0 16px;
  width: 100%;
  height: 56px;
  background-color: #fff;
  border-top: 1px solid #e0e0e0;
  /* display: none; */
}

.panigation-bar {
  display: grid;
  grid-template-columns: 6fr 2fr 1fr 1fr;
  align-items: center;
  font-size: 14px;
  width: 100%;
  height: 100%;
}

.sum-record span {
  color: #212121;
  font-weight: 700;
}
.record-in-page {
  display: flex;
  align-items: center;
  gap: 63px;
}
.number-record-page {
  width: 76px;
  height: 36px;
  position: relative;
  cursor: pointer;
}
.number-record-page input {
  width: 100%;
  height: 100%;
  padding: 0 12px;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.number-record-page .show-option svg.show {
  transform: rotate(180deg);
}

.number-record-page .parent-option {
  position: absolute;
  top: -160px;
  left: 0;
  /* height: 120px; */
  width: 100%;
  border-radius: 4px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #fff;
}
.number-record-page .parent-option.show {
  display: block;
}
.value-range-record {
  display: flex;
  justify-content: center;
  gap: 4px;
}
.control-page {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: auto;
}
.control-page > div {
  width: 24px;
  height: 24px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.prev-page {
  background: url("@/assets/imgs/Sprites.64af8f61.svg") no-repeat -36px -361px;
  width: 8px;
  height: 14px;
}
.control-page > div.disable {
  cursor: not-allowed;
  opacity: 0.5;
}
.next-page {
  background: url("@/assets/imgs/Sprites.64af8f61.svg") no-repeat -84px -361px;
  width: 8px;
  height: 14px;
}

.search-on-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.resize-column {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 15px;
  cursor: col-resize;
  z-index: 1;
}

.tr-select td {
  background-color: rgb(232, 244, 229);
}
